body {
    margin: 0;
    padding: 0;
    height: 100vh;
}


.header {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.add {
    background-color:aliceblue;
}

form{
    background-color: aqua;
}

#card {
    background-color: red;
}