body {
    margin: 0;
    padding: 0;
    background-color: #395B64;
}


.header {
    background-color: #2C3333;
    color:#A5C9CA;
    display: flex;
    justify-content: center;
    min-width: 100vw;
    box-shadow: 5px 5px 5px -2px #A5C9CA;
}

.form-container{
    display: flex;
    margin-top: 5vh;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-flow: wrap;
}

.text-input{
    display: flex;
    flex-flow: column wrap;
    margin-left: 3vw;
    color: #E7F6F2;
}

.submit{
    background-color: #2C3333;
    color: #E7F6F2;
}

.submit-label{
    color: #395B64;
}

.table-container {
    margin-top: 5em;
    display: flex;
    justify-content: center;
}

table {
    background-color: #A5C9CA;
    box-shadow: 5px 5px 5px -2px #2C3333;
}
th{
    border-bottom: 2px solid black;
    margin: 0;
}

th, td {
    text-align: center;
    padding: 20px;
    width: 10em;
}

table {
    border: 2px solid black;
}

.delete {
    padding: 10px;
    background-color: red;
    color: #E7F6F2;
}

button:hover {
    color:aqua;
}

.read-status {
    background-color: #2C3333;
    color: #E7F6F2;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5px;
    width: 100%;
}

.footer {
    margin-right: 5px;
}

.github-logo:hover{
    animation: roll 3s;
    
    transform: rotate(720deg) ;
}

@keyframes roll {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(720deg)
    }
    
}